<%= form_with(model: @twclone, local: true, url: choose_new_or_edit) do |form| %>
  <% if twclone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(twclone.errors.count, "error") %> prohibited this twclone from being saved:</h2>

      <ul>
      <% twclone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :twclone_content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
